<form [formGroup]="reservaForm">
    <div class="row mt-2">
        <div class="form-group col-md-6 col-12 col-xs-12">
            <label class="form-label">Espacio</label>
            <select class="form-select form-control" formControlName="espacio">
                <option [value]="objEspacio.espacio_id" *ngFor="let objEspacio of listaEspacios">
                    {{ objEspacio.nombre }}
                </option>
            </select>

            <div *ngIf="!espacio.value?.length && (espacio.dirty || espacio.touched)">
                <small class="text-danger">El espacio es requerido</small>
            </div>
        </div>
        <div class="form-group col-xs-12 col-12 col-md-6">
            <label class="form-label">Fecha</label>
            <div>
                <input type="text" placeholder="Fecha de reserva" class="form-control" formControlName="fecha"
                    [minDate]="minDate" bsDatepicker>
            </div>
            <div *ngIf="fecha.invalid && (fecha.dirty || fecha.touched)">
                <small class="text-danger">La fecha es requerida</small>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="form-group col-xs-12 col-12 col-md-6">
            <label>Hora Inicio</label>
            <div>
                <timepicker [min]="minDate" formControlName="horaInicio"></timepicker>
            </div>
            <div *ngIf="horaInicio.invalid && (horaInicio.dirty || horaInicio.touched)">
                <small class="text-danger">La hora de inicio es requerido</small>
            </div>
        </div>
        <div class="form-group col-xs-12 col-12 col-md-6">
            <label>Hora Fin</label>
            <div>
                <timepicker [min]="horaInicio.value" formControlName="horaFin"></timepicker>
            </div>
            <div *ngIf="horaFin.invalid && (horaFin.dirty || horaFin.touched)">
                <small class="text-danger">La hora de fin es requerido</small>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="form-group">
            <label for="comentarios">Comentarios</label>
            <textarea class="form-control" id="comentarios" rows="3" formControlName="comentario"></textarea>
        </div>
    </div>
    <hr>
    <div class="row pl-3">
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="terminos" formControlName="terminos" [(ngModel)]="aceptoTerminos">
                <label class="form-check-label" for="terminos">
                    Acepto términos y condiciones
                </label>
            </div>
        </div>
    </div>
    <div class="text-center mt-4">
        <button type="submit" (click)="enviar()" class="btn btn-primary"
            [disabled]="!reservaForm.valid || !aceptoTerminos">Reservar</button>
    </div>
</form>